@{
    ViewBag.Title = "MVC Boilerplate";
    ViewBag.SubTitle = "is ready assembled plumbing and UX compatibility provisioning, standing on the shoulders of these giants...";    

    ViewBag.CurrentNav = "BuiltOn";
    ViewBag.UseGoogleAnalytics = false;                
}


<div class="building-block">
    <img src="@Url.Content("~/Content/img/boilerplate-devguide/bootstrap_logo.png")" alt="bootstrap twitter logo" width="200px" />
    <div class="colophon">
        <h3>Bootstrap</h3>
        <p>
            MVC Boilerplate uses Twitter Bootstrap as its core css reset and widget library.
        </p>
    </div>
</div>

<div class="building-block">
    <img src="@Url.Content("~/Content/img/boilerplate-devguide/less_logo.png")" alt="less css logo"  width="200px" />
    <div class="colophon">
        <h3>Less CSS</h3>
        <p>
            Bootstrap and Boilerplate both use Less CSS to keep the CSS maintainable and flexible.

            The Boilerplate Visual Studio Build process invokes DotLess to compile these working versions of Less into production ready CSS.
        </p>
    </div>
</div>

<div class="building-block">
    <img src="@Url.Content("~/Content/img/boilerplate-devguide/jquery_logo.png")" alt="jquery logo"  width="200px" />
    <div class="colophon">
    <h3>jQuery</h3>
    <p>
        Of course.
    </p>
    </div>
</div>

<div class="building-block">
    <img src="@Url.Content("~/Content/img/boilerplate-devguide/jquery-ui_logo.png")" alt="jquery ui logo"  width="200px" />
    <div class="colophon">
        <h3>jQuery UI</h3>
        <p>
            Boilerplate compatible themes are included for jQuery UI, samples are included in the Developer Guide and it is referenced by default in the application.
        </p>
    </div>
</div>

<div class="building-block">
    <img src="@Url.Content("~/Content/img/boilerplate-devguide/kendo-ui_logo.png")" alt="jquery ui logo"  width="200px" />
    <div class="colophon">
        <h3>Kendo UI</h3>
        <p>
            Boilerplate compatible themes are included for Kendo UI Web (by Telerik), samples are included in the Developer Guide and it is referenced by default in the application.
        </p>
    </div>
</div>

<div class="building-block">
    <img src="@Url.Content("~/Content/img/boilerplate-devguide/telerik_logo.png")" alt="jquery ui logo"  width="200px" />
    <div class="colophon">
        <h3>Telerik MVC UI Extensions</h3>
        <p>
            Boilerplate compatible themes are included for Telerik MVC UI Extensions, but since this is a commerical product if you wish you use it you should reference it seperately.
        </p>
    </div>
</div>